## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structed information, or data , typically stored electronically in a computer system.

## SQL
1) SQL Database are categarized as relational database managment system (RDMS).
2) SQL Database have fixed or static or predefine schema.
3) SQL Database display data in the form pf tables so it is know as table-based database.
4) It has standard language.
5) SQL Database are vertically scalable.
6) SQL Database use a powerful language 'Standard Query language' to define and manipulate the data.

## NOSQL
1) NoSQL Database are categarized as non-relational or distributed database managment system (RDMS).
2) NoSQL Database have dynamic schema.
3) NoSQL Database display data as collection key-value pair, documents, graph, database or wide-column stores.
4) It has no declaration language.
5) NoSQL Database are horizontally scalable.
6) NOSQL Database, collection of documents are used to querry the data. it is also called unstructed query language. it varies from database to database.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

### The following are the DDL commands,

1) CREATE
2) DROP 
3) ALTER 
4) TRUNCATE

#### 1) CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

**syntax:**
CREATE TABLE table_name ( column_1 datatype(size), column_2 datatype(size), column_3 datatype(size),....);

**Example:**
CREATE TABLE student_info(id INT(2), name INT(15), phone_number INT(15), college_name VARCHAR(30));

#### 2) DROP
This command is used to remove an existing table along its structure from the databse.

**Syntax:**
DROP TABLE table_name;

**Example:**
DROP TABLE student_info;

#### 3) ALTER
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

**Syntax:**
ALTER TABLE table_name
ADD column_name datatype;

**Example:**
ALTER TABLE student_info ADD address;

#### 4) TRUNCATE
This command is used to remove all rows from the table, but the structure of the table still exists.

**Syntax:**
TRUNCATE TABLE table_name;

**Example:**
TRUNCATE TABLE student_info;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A Data Manipulation Language or DML is a computer peogramming language, basically a compent of SQL, which is used to add, delete or modify data in a database.

### 1) INSERT

This command is used to add new records or rows to a table.

**Syntax:** INSERT INTO table_name VALUE(V1, V2, V3, V4,....);
                 **OR**
            INSERT INTO table_name(column1_name, column2_name, coulmn3_name, .....) VALUES(value1, value2, Value3,....);

**Example:** INSERT INTO student_info VALUE(2, 'Yash', 56789075, 'Rosary english high school');

### 2) UPDATE

This command is used to change or modify data in a table.

**Syntax:** UPDATE table_name SET (column_name1 = value1, column_name2 = Value2);

**Example:** UPDATE student_info SET name = 'Rohan' WHERE id = 2);

### 3) DELETE

This command is used to delete a record or a data in a table.

**Syntax:** DELETE FROM table_name WHERE Condition;

**Example:** DELETE FROM student_info WHERE id = 2;

## Q4. What is DQL? Explain SELECT with an example.

A Data Query Language (DQL) is a computer language, basically a compoenent of SQL which is used to perform quries on the data within database objects. It is used to retrive information stored in the tables in a database.

**Syntax:** SELECT * FROM table_name;

**Example:** SELECT * FROM student_info;

## Q5. Explain Primary Key and Foreign Key.

## Primary Key
1) Primary key uniquely identify a record in the table.
2) Primary Key can't accept null values.
3) By default, Primary key is clustered index and data in the database table is physically organized in the sequence of clustered index.
4) We can have only one Primary key in a table.

## Foreign Key
1) Foreign key is a field in the table that is primary key in another table.
2) Foreign key can accept multiple null value.
3) Foreign key do not automatically create an index, clustered or non-clustered. You can manually create an index on foreign key.
4) We can have more than one foreign key in a table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
       host = 'localhost',
       user = 'abc',
       password = 'password'
)
print(mydb)
mycursor = mydb.cursor()
mycrsor.execute('Write my sql code')
mydb.close()

**cursor() Method:**
The cursor() method is used to create a cursor object, which is a pointer or a control structure that allows you to interact with the database. The cursor object provides methods for executing SQL queries and fetching results.

**execute() Method:**
The execute() method is used to execute SQL queries through the cursor object. You pass the SQL query as an argument to this method. It performs the query on the database and can be used for various types of queries like SELECT, INSERT, UPDATE, and DELETE.

# Q7. Give the order of execution of SQL clauses in an SQL query.

In a typical SQL query, the clauses are not executed in the order they are written. Instead, SQL goes through several logical steps to process a query. The general order of execution is as follows:

**FROM:** The FROM clause specifies the tables from which the data will be retrieved. It is the first step where the data sources are identified.

**JOIN:** If there are any JOIN clauses in the query, the database will perform the necessary joins to combine data from multiple tables.

**WHERE:** The WHERE clause filters the rows from the joined tables based on the specified conditions. It operates on the rows resulting from the join step.

**GROUP BY:** If there is a GROUP BY clause, the rows are grouped according to the specified columns. This is typically used in combination with aggregate functions like SUM, AVG, etc.

**HAVING:** The HAVING clause filters the grouped rows based on aggregate function results. It operates similarly to the WHERE clause but applies to groups of rows.

**SELECT:** The SELECT clause specifies which columns to include in the output. It operates on the rows and groups that passed through the previous steps.

**DISTINCT:** If the DISTINCT keyword is used, duplicate rows are removed from the result set at this stage.

**ORDER BY:** The ORDER BY clause is used to sort the result set based on one or more columns. It operates on the rows that have passed through all the previous steps.

**LIMIT / OFFSET:** If LIMIT and OFFSET clauses are used, they are applied to the sorted result set to restrict the number of rows returned and to skip a certain number of rows.