### Q.1 How do you comment code in Python? What are the different types of comments?

Comments in Python are identified with a hash symbol, #, and extend to the end of the line. Hash characters in a string are not considered comments, however. 
There are three types of comments in Python:

Single line Comments
Multiline Comments
Docstring Comments

In [2]:
# Exapmple of single line comment
print('single line comment')

single line comment

In [3]:
# Example of multiline commen
# my name is zeenat
print('multiline comment')

multiline comment

In [10]:
"""A doctstring example"""
print('triple quots is used for docstring comment')

triple quots is used for docstring comment

### Q.2. What are variables in Python? How do you declare and assign values to variables?

A varaiable associates a name with a value that may change. In python varaible names are case sensitive.
In python, varaible do not need declaration to reserve memory space. The 'Varaible declaration' happens autometically when we assign a value to a varaible.

Varaible receive their intial values and can be reset to new value with an assigment statement.

Syntax:
<varaible name> = Expression
    Where: (1) The equal sign is know as Assigment operator.
           (2) An expression is any value, text or arithmetic expression.
The value of the expression will be stored in the varaible.

In [15]:
# Example
Name = 'Aditi'
Marks = 78
Price = 300.67

In [18]:
a = 10 # We can assign one varaible into another varaible

In [19]:
a

10

In [20]:
b = a
b

10

In [21]:
x, y, z = 'Shuham', 145, 67.90    # We can assign mpre than one varaible at a time

In [22]:
x

'Shuham'

In [23]:
y

145

In [24]:
z

67.9

### Q.3. How do you convert one data type to another in Python?

 To convert one data type to another, we simply use the type name as a function.

In [45]:
x = 24.58  # Example 1

In [46]:
x

24.58

In [47]:
type(x)

float

In [48]:
int(x)

24

In [43]:
str(x)

'24.58'

In [39]:
complex(x)

(24.58+0j)

In [25]:
s3 = {1,2,2,3,45,56,3,2,3,4,1,4,4,4,4,6,7,10,8,7,8,9,7,7}     # Example 2

In [26]:
s3

{1, 2, 3, 4, 6, 7, 8, 9, 10, 45, 56}

In [27]:
tuple(s3)

(1, 2, 3, 4, 6, 7, 8, 9, 10, 45, 56)

In [29]:
list(s3)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 45, 56]

### Q.4. How do you write and execute a Python script from the command line?

1) open a file and write 'Hello world' and save the file at '.py' extension.
2) Then go to the windows and open command prompt
3) Navigate to the directory where you saved the Python script using the 'cd' command.
4) Once we are in the correct directory, we can execute the Python script using the python command, followed by the filename. In our case, we would execute the following command: python <file name.py>
5) Press Enter to run the command. The Python interpreter will execute the script, and we should see the output.

### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [50]:
my_list = [1,2,3,4,5]

In [51]:
my_list[1:3]

[2, 3]

### Q6. What is a complex number in mathematics, and how is it represented in Python?

Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and 'i' is an imaginary number called “iota”. 
The value of i = (√-1). For example, 2+3i is a complex number, where 2 is a real number (Re) and 3i is an imaginary number (Im)

Python complex number can be created either using direct assignment statement or by using complex () function.

In [55]:
c = 4 + 7j     #Direct assigment

In [56]:
c

(4+7j)

In [57]:
type(c)

complex

In [58]:
c1 = complex(9,5)     #by using complex function

In [60]:
c1

(9+5j)

In [62]:
print(c1, type(c1))

(9+5j) <class 'complex'>

### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [63]:
age = 25

In [76]:
print(age)

25

### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [64]:
price = 9.99

In [77]:
print(price)

9.99

In [65]:
type(price)

float

### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [66]:
name = 'Ansari Zeenat Mohd Nooruddin'

In [67]:
print(name)

Ansari Zeenat Mohd Nooruddin

### Q10. Given the string "Hello, World!", extract the substring "World".

In [68]:
str = 'Hello, World!'

In [69]:
str[7:12]

'World'

### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [74]:
is_student = True

In [71]:
is_student

True

In [73]:
type(is_student)

bool